<div class="detail">
	<div class="strap">
		{{#link-to 'cars' content.id}}
			<h3><span>{{content.make}}</span>, {{content.model}}</h3>
		{{/link-to}}
	</div>
	<div class="content">
		<div class="year corner">
			{{content.year}}
		</div>
		<div class="price">
			{{carPrice}}
		</div>
	</div>

</div>

